body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

header {
  background: #222;
  color: #9b5252;
  padding: 1em;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

/* section {
  margin-bottom: 40px;
} */

footer {
  text-align: center;
  padding: 1em;
  background: #f4f4f4;
  color: #555;
}


